@import url("https://fonts.googleapis.com/css2?family=Albert+Sans:ital,wght@0,100..900;1,100..900&display=swap");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-size: 100%;
}

body {
	font-family: "Albert Sans", sans-serif;
}

#home-page-content {
	padding: 1.75rem 1.75rem 0 1.75rem;
}

#series-page-content {
	padding: 1rem 1.75rem 0 1.75rem;
}

#contact-page-content {
	padding: 1.75rem 0 0 0;
}

#series-indicator {
	position: absolute;
	top: 88%;
	left: 45%;
}

#series-img {
	width: 800px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-38%, -44.5%);
	z-index: 1;
	pointer-events: none;
}

@media (min-height: 1024px) {
	#series-img {
		width: 1000px;
	}
}

.input-wrap {
	position: relative;
}

.input-wrap input {
	width: 100%;
	box-sizing: border-box;
	border: none;
	border-bottom: 2px solid #000;
	border-radius: 0;
	outline: none;
	padding: 8px 0;
	transition: padding 0.3s ease, border-radius 0.3s ease, border-color 0.3s ease;
	font-size: 1.5rem;
}

/* left & right sides */
.input-wrap::before,
.input-wrap::after {
	content: '';
	position: absolute;
	width: 2px;
	height: 0;
	background: #000;
	bottom: 0;
	transition: height 0.15s ease 0.25s;
	border-radius: 6px;
}

.input-wrap::before {
	left: 0;
}

.input-wrap::after {
	right: 0;
}

/* top line (via a <span class="top-line">) */
.top-line {
	position: absolute;
	top: 0;
	left: 0;
	height: 2px;
	width: 0;
	background: #000;
	transition: none;
	border-radius: 6px;
}

/* bottom line (via a <span class="bot-line">) */
.bot-line {
	position: absolute;
	bottom: 0;
	left: 0;
	height: 2px;
	width: 0;
	background: #000;
	transition: width 0.25s ease;
	border-radius: 6px;
}

/* on focus */
.input-wrap:focus-within input {
	border-color: transparent;
	padding: 8px 10px;
	border-radius: 6px;
}

.input-wrap:focus-within .bot-line {
	width: 100%;
}

.input-wrap:focus-within::before,
.input-wrap:focus-within::after {
	height: 100%;
}

.input-wrap:focus-within .top-line {
	width: 100%;
	transition: width 0.25s ease 0.4s;
}

textarea {
	resize: none;
	font-size: 1.25rem;
}

.black-btn {
	color: white;
	background-color: black;
	padding: 1rem;
	font-size: 1.75rem;
}


.bg-gray {
	background-color: gray;
}

.pos-abs {
	position: absolute;
}

.pos-rel {
	position: relative;
}

.font-size-s {
	font-size: 1.25rem;
}

.font-size-m {
	font-size: 1.5rem;
}

.font-size-l {
	font-size: 2.75rem;
}

.font-weight-n {
	font-weight: normal;
}

.padding-sm {
	padding: 0.5rem;
}

.padding-m {
	padding: 1.5rem;
}

.margin-sm {
	margin: 1rem;
}

.margin-m {
	margin: 2rem;
}

.margin-l {
	margin: 5rem;
}

.vbox {
	display: flex;
	flex-direction: column;
}

.hbox {
	display: flex;
	flex-direction: row;
}

.box-spacing-xs {
	gap: 0.25rem;
}

.box-spacing-sm {
	gap: 0.5rem;
}

.box-spacing-m {
	gap: 1.5rem;
}

.box-spacing-l {
	gap: 2rem;
}

.box-spacing-2xl {
	gap: 6rem;
}

.no-box-spacing {
	gap: 0;
}

.centered-main {
	justify-content: center;
}

.centered-cross {
	align-items: center;
}

.align-start {
	align-self: flex-start;
}

.align-end {
	align-self: flex-end;
}

.align-bottom {
	align-self: bottom;
}

.center-self {
	align-self: center;
}

.stretched-height {
	min-height: 100dvh;
}

.flex-one {
	flex: 1;
}

.flex-two {
	flex: 2;
}

.space-85 {
	flex-basis: 85%;
	flex-grow: 1;
}

.space-75 {
	flex-basis: 75%;
	flex-grow: 1;
}

.space-60 {
	flex-basis: 60%;
	flex-grow: 1;
}

.space-35 {
	flex-basis: 35%;
	flex-grow: 1;
}

.space-20 {
	flex-basis: 20%;
	flex-grow: 1;
}

.flexbox-res-img {
	max-width: 100%;
	height: auto;
	min-width: 0;
	/* prevents flex children from overflowing */
}

@keyframes fadeIn {
	from {
		opacity: 0;
		transform: translateY(8px);
	}

	to {
		opacity: 1;
		transform: translateY(0);
	}
}

@keyframes fadeInLeft {
	from {
		opacity: 0;
		transform: translateX(-50px);
	}

	to {
		opacity: 1;
		transform: translateX(0);
	}
}

.fade-in-text {
	opacity: 0;
	animation: fadeInLeft 0.9s ease-in-out forwards;
}

.fade-text {
	opacity: 0;
	animation: fadeIn 1.75s ease-out forwards;
}

.scale-on-hover {
	transition: transform 0.3s ease;
}

.scale-on-hover:hover {
	transform: scale(1.05);
}

.scale-on-hover-z {
	transition: transform 0.3s ease, z-index 0s;
	position: relative;
	z-index: 0;
}

.scale-on-hover-z:hover {
	transform: scale(1.05);
	z-index: 10;
}

.w100 {
	width: 100%;
}

.w50 {
	width: 50%;
}

.w35 {
	width: 35%;
}

.w2 {
	width: 2%;
}

.padding-lr-175 {
	padding: 0 5.5rem 0 5.5rem;
}
